/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*END OF CSS RESET CODE - BEGIN STYLES BELOW*/
* {
    padding:0;
    margin:0;
}

html {
    background-color:#000000;
}

body {
    min-width:485px;
    margin:0 auto;
    background-color:#FFFFFF;
    font-family:Arial, Helvetica, sans-serif;
}

header {
    padding:0;
    margin:0;
}

h1 {
    color:#007D7B;
    font-size:3em;
    text-align:center;
    font-weight:700;
    text-transform:uppercase;
    padding:10px;
}

nav {
    background-color:#000000; 
}

nav h2 {
    visibility:hidden;
}

nav ul {
    padding-bottom:10px;
    margin:0;
    list-style:none;
    display:flex;
    justify-content:center;
}

nav li {
    display:inline-block;
    height:50px;
}

nav a {
    padding:10px;
    display:block;
    background-color:#000000;
    color:#FFFFFF;
    text-decoration:none;
    text-transform:uppercase;
    font-size:1.5em;
    font-weight:bold;
}

nav a:hover {
    background-color:#007D7B;
}

nav a:focus {
    outline:3px solid #FFFFFF;
}

[href="#top"] {
    position:fixed;
    bottom:0;
    right:0;
    border-color:#FFFFFF;
}

h2 {
    font-size:2em;
    text-align:center;
    font-weight:700;
    text-transform:uppercase;
}

p {
    font-size:1.25em;
}

#about h2 {
    margin-top:20px;
}

#about p {
    margin:10px;
}
/*---------------GALLERY SECTION-----------------------*/
#pictures {
    display:grid;
    grid-template-columns:1fr;
    width:100%;
    padding-bottom:15px;
}

#gallery h2 {
    padding-top:20px;
}

#gallery p {
    margin:10px;
    padding-top:10px;
}

#pictures figure {
    justify-self:center;    
    padding-top:5px;
}

#pictures figcaption {
    text-transform:uppercase;
    color:#FFFFFF;
}

.top figcaption  {
    display:block;
    font-size:1em;
    position:absolute;
    margin: -270px 0 0 150px;   
}
/*-----------------CONTACT SECTION----------*/
#contact {
    display:grid;
    grid-template-columns:1fr;
    width:100%;
    background-color:#000000;
    color:#FFFFFF;
    padding-top:15px;
    padding-bottom:40px;
}

#contact p {
    padding-top:30px;
    padding-bottom:30px;
    text-align:center;
    width:90%;
    justify-self:center;
}

form {
    justify-self:center;
    text-transform:uppercase;
    font-size:1em;
}

form > label {
    padding-top:20px;
    margin-left:10px;
}

input:focus {
    outline:1px solid #007D7B;
}

form > input {
    width:80vw;
    padding:6px;
    display:block;
    font-size:1em;
    margin-bottom:20px;
}

input::placeholder {
    color:#007D7B;
    text-transform:uppercase;
    font-size:1em;
    font-weight:bold;
}

input[type=submit] {
    margin:auto;
    background-color: #007D7B;
    color:#FFFFFF;
    border:none;
    border-radius:12px;
    font-size:1em;
    
    text-transform:uppercase;
    padding:5px 80px 5px 80px;
    width:40vw;
}
/*-------------FOOTER------------*/
footer {
    padding-top:20px;
    padding-bottom:10px;
    background-color:#000000;   
    color:#FFFFFF;
    text-align:center;
    text-transform:uppercase;
    clear:both;
}
/*--------------SCREEN SIZE 880PX---------*/
@media screen and (min-width:880px){
    h1 {
        text-align:left;
    }
    
    #pictures {
        display:grid;
        grid-template-columns:1fr 1fr;
        margin:5px;
    }

    #picture img {
        width:100%;
        height:100%;
        object-position:contain;
    }
}
/*-----------SCREEN SIZE 1300PX----------*/    
@media screen and (min-width:1300px){
    nav ul {
        justify-content:right;
    }

    #pictures {
        display:grid;
        grid-template-columns:1fr 1fr 1fr;
        margin:5px;
    }

    #picture img {
        width:100%;
        height:100%;
        object-position:contain;
    }
}
