/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*END OF CSS RESET CODE - BEGIN STYLES BELOW*/
* {
    padding:0;
    margin:0;
}

html {
    background-color:#000000;
}

body {
    min-width:485px;
    margin:0 auto;
    background-color:#FFFFFF;
    font-family:Arial, Helvetica, sans-serif;
}

header {
    padding:0;
    margin:0;
}

h1 {
    color:#007D7B;
    font-size:3em;
    text-align:center;
    font-weight:700;
    text-transform:uppercase;
    padding:10px;
}

nav {
    background-color:#000000; 
}

nav > h2 {
    visibility:hidden;
}

nav > ul {
    padding-bottom:10px;
    margin:0;
    list-style:none;
    display:flex;
    justify-content:center;
}

nav li {
    display:inline-block;
    height:50px;
}

nav a {
    padding:10px;
    display:block;
    background-color:#000000;
    color:#FFFFFF;
    text-decoration:none;
    text-transform:uppercase;
    font-size:1.5em;
    font-weight:bold;
}

nav a:hover {
    background-color:#007D7B;
}

nav a:focus {
    outline:3px solid #FFFFFF;
}

[href="#top"] {
    position:fixed;
    bottom:0;
    right:0;
    border-color:#FFFFFF;
}

h2 {
    font-size:2em;
    text-align:center;
    font-weight:700;
    text-transform:uppercase;
}

p {
    font-size:1.25em;
}

#about h2 {
    margin-top:20px;
}

#about p {
    margin:10px;
}
/*---------------GALLERY SECTION-----------------------*/
#pictures {
    display:grid;
    grid-template-columns:1fr;
    width:100%;
    padding-bottom:15px;
}

#gallery h2 {
    padding-top:20px;
}

#gallery p {
    margin:10px;
    padding-top:10px;
}

figure {
    justify-self:center;    
    padding-top:5px;
}

#pictures figcaption {
    text-transform:uppercase;
    font-size:1em;    
    display:block;
    position:absolute;
    font-weight:bold;
}

#chile figcaption {
    margin: -32px 0 0 170px;
    color:#FFFFFF;
}

#guatemala figcaption {
    margin: -265px 0 0 140px;
    color:#FFFFFF; 
}

#hawaii figcaption {
    margin: -32px 0 0 170px;
    color:#FFFFFF;
}

#iran figcaption {
    margin: -620px 0 0 165px; 
    color:#000000;
}

#ireland figcaption {
    margin: -620px 0 0 165px; 
    color:#000000;
}

#italy figcaption {
    margin: -28px 0 0 140px; 
    color:#000000;
}

#moab figcaption {
    margin: -32px 0 0 130px;
    color:#FFFFFF; 
}

#rocky figcaption {
    margin: -265px 0 0 105px;
    color:#000000; 
}

#swiss figcaption {
    margin: -265px 0 0 140px;
    color:#000000; 
}

#uk figcaption {
    margin: -265px 0 0 180px;
    color:#000000; 
}

#usa figcaption {
    margin: -265px 0 0 170px;
    color:#000000; 
}

#wyoming figcaption {
    margin: -265px 0 0 140px;
    color:#FFFFFF; 
}
/*-----------------CONTACT SECTION----------*/
#contact {
    display:grid;
    grid-template-columns:1fr;
    width:100%;
    background-color:#000000;
    color:#FFFFFF;
    padding-top:15px;
    padding-bottom:40px;
    
}

#contact p {
    padding-top:30px;
    padding-bottom:30px;
    text-align:center;
    width:90%;
    justify-self:center;
}

form {
    justify-self:center;
    text-transform:uppercase;  
}

form > label {
    padding-top:20px;
    margin-left:10px;
    font-size:1em;
}

input[type="text"]:focus {
    outline:2px solid #007D7B;
}

form > input {
    width:80vw;
    padding:6px;
    display:block;
    font-size:1em;
    margin-bottom:20px;
}

input::placeholder {
    color:#007D7B;
    text-transform:uppercase;
    font-size:1em;
    font-weight:bold;
}

button {
    background-color: #007D7B;
    color:#FFFFFF;
    border:none;
    border-radius:12px;
    font-size:1em;
    text-transform:uppercase;
    padding:05px 80px 5px 70px;
    width:40vw;
    margin-left:100px;
}

button > a {
    text-decoration:none;
    color:#FFFFFF;
}
/*-------------FOOTER------------*/
footer {
    padding-top:20px;
    padding-bottom:10px;
    background-color:#000000;   
    color:#FFFFFF;
    text-align:center;
    text-transform:uppercase;
    clear:both;
}

small {
    font-size:1em;
}
/*--------------SCREEN SIZE 880PX---------*/
@media screen and (min-width:880px){
    h1 {
        text-align:left;
    }
    
    #pictures {
        display:grid;
        grid-template-columns:1fr 1fr;
        margin:5px;
    }

    #picture img {
        width:100%;
        height:100%;
        object-fit:contain;
    }

    button {
        margin-left:190px;
    }
}
/*-----------SCREEN SIZE 1300PX----------*/    
@media screen and (min-width:1300px){
    nav ul {
        justify-content:right;
    }

    #pictures {
        display:grid;
        grid-template-columns:1fr 1fr 1fr;
        margin:5px;
    }

    #picture img {
        width:100%;
        height:100%;
        object-fit:contain;
    }

    button {
        margin-left:280px;
    }

}
